[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chainer = "*"
ndjson = "*"
gensim = "*"
janome = "*"
tensorboard-chainer = "*"
pillow = "*"

[dev-packages]
mypy = "*"
"cupy-cuda90" = "*"

[requires]
python_version = "3.6"
